* {
    box-sizing: border-box;
    font-weight: bolder;
    margin: 0;
}

.container {
    width: 300px;
    text-align: center;
    padding: 20px;
    background-color: rgb(223, 176, 176);
}
